.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  white-space: normal;
}

th {
  background-color: #cccccc;
}

button {
  margin-top: 1%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.Separate {
  margin-top: 2%;
}

.Additional_info {
  display: none;
}